extends layout

block content
  
  h2 Welcome, #{hatr.username}
  
  ul
    each message in messages 
      - const words = message.body
      - const author = hatr.username
      - const date = message.created_at
      li #{words} - #{author} -  #{date}
      br
