extends layout

block content
  
  h2 login
  
  form(action="/login" method="post")
    input(type="text" name="username" placeholder="Username")
    input(type="password" name="userpass" placeholder="********")
    
    input(type="submit")
